<div class="relative w-full overflow-hidden pb-[12vh]">
  <div class="flex h-full min-h-72 w-full flex-col items-center justify-center border-b border-[#717171] bg-[#212529] bg-[radial-gradient(circle,rgba(0,0,0,0.1)_0,rgba(0,0,0,0.5)_100%)] bg-no-repeat p-8 text-[#ff5722] max-sm:p-4">
    <h1 class="mb-0 font-bona text-7xl max-sm:text-5xl">Contact</h1>
  </div>

  <div class="flex flex-col items-center p-8 max-sm:p-4">
    <div class="flex items-start justify-between w-full h-full max-w-screen-xl gap-16 py-8">
      <div class="flex-grow w-2/5 h-full">
        <div class="text-3xl font-bold">
          Get In Touch
          <div class="my-3 h-1 w-20 bg-[#ff5722]"></div>
        </div>
        <p>I prefer contact through discord, email or linkedin</p>

        <div class="flex flex-col gap-4 text-lg">
          <a href="mailto:artur.pas@proton.me?subject=Befunge93Interpreter%20-%20Contact&body=Nice%20project.%20have%20a%20nice%20day."><i class="fa-solid fa-envelope"></i> artur.pas&#64;proton.me</a>

          <span><i class="fa-brands fa-discord"></i> arturpas</span>

          <a href="https://maps.app.goo.gl/W6kWWKjGn4EQKEQU6" target="_blank"><i class="inline-flex items-center justify-center w-6 text-xl fa-solid fa-location-dot"></i> Poland, Rzeszów</a>

          <a href="https://pasek108.github.io/Resume/" target="_blank"><i class="inline-flex items-center justify-center w-6 text-xl fa-solid fa-briefcase"></i> Portfolio</a>

          <a href="https://github.com/Pasek108" target="_blank"><i class="inline-flex items-center justify-center w-6 text-xl fa-brands fa-github"></i> Pasek108</a>

          <a href="https://www.linkedin.com/in/artur-pas/" target="_blank"> <i class="inline-flex items-center justify-center w-6 text-xl fa-brands fa-linkedin"></i> Artur Pas</a>
        </div>
      </div>

      <div class="flex-grow w-2/5 h-full overflow-hidden rounded-md">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdIQCYW9OVJEEw866heJv_ANlmGI3Lps2N60Mf6b29V3flGnA/viewform?usp=dialog" frameborder="0" marginheight="0" marginwidth="0" class="h-full min-h-[80vh] w-full">Loading</iframe>
      </div>
    </div>
  </div>
</div>
